<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <groups>
        <exclude>
            <group>generate_new_invoice_template</group>
            <group>mollie_integration</group>
            <group>requires_manual_intervention</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
<!--        <env name="MOLLIE_KEY" value="test_VWHhavyaJ3rtaSpuzkan7qHjy99ED2"/>-->
<!--        <env name="MANDATED_CUSTOMER_DIRECTDEBIT" value="cst_f4vKQMPpCC"/>-->
<!--        <env name="MANDATED_CUSTOMER_DIRECTDEBIT_MANDATE_ID" value="mdt_pKSDcct2cF"/>-->
<!--        <env name="MANDATE_PAYMENT_PAID_ID" value="tr_eTqFSK3CqD"/>-->
<!--        <env name="SUBSCRIPTION_MANDATE_PAYMENT_PAID_ID" value="tr_crdnHrF5ta"/>-->
<!--        <env name="PAYMENT_PAID_ID" value="tr_Pte9bQtsaw"/>-->
<!--        <env name="PAYMENT_FAILED_ID" value="tr_eS2cBcry7d"/>-->
    </php>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
